:root {
    /*  COLORS  */
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    /* Widths */
    --mobileWidth: 375px;
    --desktopWidth: 1440px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
}